@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;1,6..96,400;1,6..96,500&display=swap');

body{
    background-color: lightgrey;
}

img{
    height: 14em;
    width: 16em;
    border-radius: 0.5em;
}

table{
    background-color: rgb(76, 76, 76);
    border-radius: 0.5em;
    color: rgb(255, 255, 255);
    font-family: 'Bodoni Moda', serif;
    margin-bottom: 1em;
}
td{
    padding: 0.5em;
}
tr{
    border-bottom: rgb(52, 52, 52) solid 2px;
    border-radius: 1em;
}

#logDiv{
    background: rgb(126,142,173);
    background: linear-gradient(0deg, rgba(126,142,173,1) 0%, rgba(124,124,124,1) 100%);
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20em 2em 2em;
    border-radius: 1em;
}

#user, #pass {
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    color: #111;
    font-size: 13px;
}
#user:focus{
    border-color: #0092e7;
    box-shadow: 0 0 3px 2px rgba(17, 42, 228, 0.5);
}
#pass:focus{
    border-color: #0092e7;
    box-shadow: 0 0 3px 2px rgba(17, 42, 228, 0.5);
}

#submit, #login, #logout {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFF;
    border: 1px solid #D5D9D9;
    font-size: 13px;
    height: 31px;
    padding: 0 11px;
    text-align: center;
    font-weight: 400;
    color: #0F1111;
    font-family: 'Bodoni Moda', serif;
}
#submit:hover{
    background-color: #6fa5f6;
    border-color: #D5D9D9;
}
#login:hover{
    background-color: #6fa5f6;
    border-color: #D5D9D9;
}
#logout:hover{
    background-color: #6fa5f6;
    border-color: #D5D9D9;
}

#loggedInDiv{
    padding: 1em;
    color: #6fa5f6;
    font-family: 'Bodoni Moda', serif;
}

label, h1, h5{
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}
